services:
  gym-tracker:
    container_name: gym-tracker-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - FIREBASE_API_KEY=${FIREBASE_API_KEY}
        - FIREBASE_AUTH_DOMAIN=${FIREBASE_AUTH_DOMAIN}
        - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
        - FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET}
        - FIREBASE_MESSAGING_SENDER_ID=${FIREBASE_MESSAGING_SENDER_ID}
        - FIREBASE_APP_ID=${FIREBASE_APP_ID}
        - FIREBASE_MEASUREMENT_ID=${FIREBASE_MEASUREMENT_ID}
    ports:
      - "8080:80"
    restart: unless-stopped
